
* {
	color: #FFF;
	font-size: 20px;
	font-family: monospace;
}

body {
	background: #000;
	margin: 0px;
}

#container {
	position:	absolute;
	width:		100vw;
	height:		100vh;
	display:	grid;
	grid-template-rows: auto 1fr auto;
}
#header {
	display: flex;
	justify-content: center;
}
#middle {
	width:		100vw;
	overflow:	hidden;
	display:				grid;
	grid-template-columns:	auto 1fr;
}
#panels {}
#toolPanel {
	width: fit-content;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}
.PanelColumn {
	position: absolute;
	left: 0px;
	width: fit-content;
	top: 0px;
	bottom: 0px;
	align-content: start;
	background: #000A;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.PanelButton {
	width: 80px;
	height: 50px;
}
#canvasWrapper {
	position:		relative;
	overflow:		hidden;
	display:			flex;
	align-items:		center;
	justify-content:	center;
}
#canvas {
	background:	#333;
	outline:		+1px dashed aliceblue;
	outline-offset:	-1px;
}

.pad {
	padding: 5px;
}

.outline {
	outline: 1px solid #777;
	outline-offset: -1px;
}

.no_select {
	user-select: none;
}

.fit {}

.menu {
	display:grid;
	grid-template-rows: auto 1fr;
}
.menu button {
	margin: 2px;
}

.sidebar_menu {
	margin: 5px;
	margin-bottom: 20px;
}

.toggle_on {
	outline: 2px solid #FF9;
	filter: brightness(1.5);
}

.disabled {
	opacity: 0.5;
}

button {
	background: #000;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 5px;
	outline: 2px solid #FFF7;
	outline-offset: -2px;
}
button:hover {
	filter: brightness(1.5);
}
button:active {
	filter: unset;
}
.Input {
	background: #000;
	border: none;
}
.InputTable {
	display: grid;
	grid-template-columns: 1fr auto;
	margin-bottom: 10px;
	border-radius: 5px;
	outline: 1px solid #fffa;
}
.InputTable .Label {
	width: fit-content;
	margin-right: 5px;
	padding: 2px;
}
.InputTable .Input {
	background: #143;
	width: 120px;
	text-align: right;
}
.InputTable .Input:focus {
	border: none;
	outline: none;
	background: #033;
}

.Tooltip {
	position: absolute;
	outline: 1px #ede7 solid;
	width: auto;
	height: auto;
}

.TextArea {
	position: relative;
	background: #000;
	border: none;
}
.TextInput {
	background: #000;
	border: none;
}

.Popup_outer {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #0007;
}
.Popup_inner {
	width: auto;
	height: auto;
	padding: 10px;
	background: #000;
}
.Popup_content {
	
};
.Popup_footer {
	
};


